.navBar {
    background-color: #7ab7ec !important;
}

.navHeader {
    color: #2e6799 !important;
    margin-left: 2rem !important;
    font-family: 'Unbounded';
    font-weight: bold;
    font-size: 30px !important;
}

.navLink {
    display: flex;
    justify-content: flex-end !important;
}

.navItem {
    margin-right: 3rem;
    font-family: 'Ubuntu';
}