.navBar {
    background-color: #7ab7ec !important;
}

.navHeader {
    color: #2e6799 !important;
    margin-left: 2rem !important;
    font-family: 'Unbounded';
    font-weight: bold;
    font-size: 35px !important;
}

.navLink {
    display: flex;
    justify-content: flex-end !important;
}

.navItem {
    margin-right: 3rem;
    font-family: 'Ubuntu';
    font-size: 18px;
}

.loginButton {
    color: white !important;
    background-color: #4496de !important;
    border: none !important;
    border-radius: 20px;
}

.loginButton:hover {
    background-color: #4075a7 !important;
}

.loginButton:active {
    transform: translateY(2px);
    box-shadow: 0px;
}