body {
    /* background: #d9edee !important; */
}

.searchForm {
    /* background: #d9edee; */
    font-family: 'Ubuntu';
    background-image: url(photos/brycecanyon.jpg);
    background-size: 1000px;
    width: 1000px;
    height: 350px;
    background-position: center;
    margin: 1rem;
    margin-left: auto !important;
    margin-right: auto !important;
    border-radius: 5px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 2px -2px rgb(139, 139, 139);
}

.formItems {
    width: 50%;
}

.formItems .formHeader {
    color: white;
    font-size: 25px;
    font-weight: 800;
    /* margin-left:5px; */
    text-align: center !important;
    /* text-shadow: 1px 1px 2px gray; */
}

.formItems .searchBar {
    border-radius: 50px 0px 0px 50px;
    height: 40px;
    /* box-shadow: 0 5px 2px -2px rgb(139, 139, 139); */
}


.formText {
    font-size: 16px !important;
    color: white !important;
    margin-left: 10px;
    /* text-shadow: 1px 1px 2px #457b9d; */
}

.formButton {
    background-color: #5ca6eb !important;
    border: none !important;
    margin-top: 1.3rem;
    height: 40px;
    border-radius: 0px 50px 50px 0px !important;
    /* box-shadow: 0 5px 2px -2px rgb(139, 139, 139); */
}

.formButton:hover {
    background-color: #4075a7 !important;
}