.card {
    font-family: 'Ubuntu';
    height: 400px !important;
    width: 300px !important;
    margin: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .cardImg {
    height: 70% !important;
}

.card .cardAddress {
    font-size: 10px;
}

h2 {
    font-family: 'Unbounded';
    font-size: 30px !important;
    margin-left: 2rem !important;
    margin-top: 2rem !important;
}

.container {
    height: auto;
    padding: 1rem !important;
    margin: 1rem !important;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.cardRow {
    display: flex;
    width: fit-content;
    height: fit-content;
}