.card {
    font-family: 'Ubuntu';
    height: 400px !important;
    width: 300px !important;
    margin: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card .cardImg {
    height: 70% !important;
}

.card .cardTitle {
    font-weight: bold;
}

.card .cardAddress {
    font-size: 10px;
    
}

h2 {
    font-family: 'Unbounded';
    font-size: 30px !important;
    margin-top: 2rem !important;
    text-align: center;
}

.containerBox {
    height: auto;
    padding: 1rem !important;
    margin: 1rem !important;
    overflow-x: scroll;
    overflow-y: hidden;
    /* white-space: nowrap; */
    max-width: 100vw;
    text-align: center;
}

.cardRow {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.addButton {
    color: white !important;
    background-color: #5ca6eb !important;
    border: none !important;
}

.addButton:hover {
    background-color: #4075a7 !important;
}

.addButton:active {
    transform: translateY(2px);
    box-shadow: 0px;
}